.panel {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(15, 15, 15, 0.65);
  padding: 1.7rem;
  border-radius: 12px;
  border: 1px solid #ffffff22;
  backdrop-filter: blur(12px);
  width: 260px;
  color: white;
  box-shadow: 0 0 18px #00000070;
}

.title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: var(--accent);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.planetItem {
  display: flex;
  align-items: center;
  gap: .8rem;
  background: #ffffff08;
  padding: .8rem;
  border-radius: 10px;
  transition: .2s;
}

.planetItem:hover {
  background: #ffffff15;
  transform: translateX(4px);
}

.icon {
  width: 45px;
  height: 45px;
  object-fit: contain;
}
