.asteroidInteract {
    cursor: pointer;
    pointer-events: auto !important;
    transition: transform 0.2s;
}

.asteroidInteract:hover {
    filter: brightness(1.2) drop-shadow(0 0 15px rgba(255, 100, 100, 0.6));
}

.exploding {
    animation: explode 0.8s forwards ease-out !important;
    pointer-events: none;
}

@keyframes explode {
    0% {
        transform: scale(1) rotate(0deg);
        filter: brightness(1);
        opacity: 1;
    }

    15% {
        transform: scale(1.2) rotate(10deg);
        filter: brightness(10) sepia(1) hue-rotate(-50deg) saturate(5);
        /* Flash brillante */
        opacity: 1;
    }

    40% {
        transform: scale(1.6) rotate(-10deg);
        filter: brightness(2) contrast(1.2);
        opacity: 0.9;
    }

    100% {
        transform: scale(3) rotate(45deg);
        filter: brightness(0) blur(10px);
        opacity: 0;
    }
}